<div>
  <app-trends></app-trends>
  <app-you-job></app-you-job>
  <s-viskhan-second [forContinue]='forContinue()'></s-viskhan-second>
  <app-firm></app-firm>
  <app-similar></app-similar>
  <app-new-talent></app-new-talent>
  <app-provide></app-provide>
  <app-showcase></app-showcase>
  <app-announce></app-announce>
  <app-highlight></app-highlight>
  <s-viskhan-new-blog-posts [forNewBlogPosts]='forNewBlogPosts()'></s-viskhan-new-blog-posts>
  <s-viskhan-erik [forErik]='forErik()'></s-viskhan-erik>
  <s-viskhan-articles [forArticles]='forArticles()'></s-viskhan-articles>
</div>

