<s-viskhan-header [forHeader]='forHeader()'
                  (clickHeaderImg)='clicker($event)'
                  (clickHeaderWibbitz)='clicker($event)'
                  (clickHeaderArticles)='clicker($event)'
                  (clickHeaderEvents)='clicker($event)'
                  (clickHeaderReports)='clicker($event)'
                  (clickHeaderCustomerStories)='clicker($event)'
                  (clickHeaderIcon)='clicker($event)'
                  (clickHeaderInput)='clicker($event)'
                  (clickHeaderButton)='clicker($event)'></s-viskhan-header>
  <router-outlet></router-outlet>
<s-viskhan-footer [forFooter]='forFooter()'></s-viskhan-footer>
<!--<div id="sum-result">-->
<!--  <p>Тут будет сумма</p>-->
<!--  <p id="sum-result-value">{{result}}</p>-->
<!--</div>-->
<!--<button id="testButton" (click)="onClickSumButton()">-->
<!--  Суммировать-->
<!--</button>-->
